.change_credentials {
  &_component {
    input {
      border-color: #000000;
      font-size: 1.2rem;
    }
  }

  &_container {
    margin: 1rem 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 18px 3px #101010;
  }

  &-name,
  &-password,
  &-status {
    color: #3c3c3c;
    font-size: 1.8rem;

    // input {
    //   font-size: 1.2rem;
    // }
  }

  &_submit {
    margin-top: 0.5rem;
    width: 100px;
    font-size: 1.5rem;

    input {
      color: gray;
    }
  }

  .creators_admin_panel {
    margin: 1rem 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 18px 3px #101010;
  }
}

.creator_panel {
  &_title {
    color: gray;
    font-size: 2rem;
  }
}

.admins_list {
  padding: 0.5rem 0;
  margin: 0 0 1rem;

  &_item {
    align-items: center;
    margin-top: 0.5rem;

    form {
      display: flex;
      justify-content: space-between;

      span {
        flex: 1 1 auto;

        input {
          width: 100%;
        }
      }
    }
  }

  .name {
    display: inline-block;
    padding: 0.5rem;
    color: gray;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-right-color: transparent;
  }

  .name_value {
    color: #4d714e;
    font-size: 1.5rem;
    display: flex;
    padding: 0.5rem;
    flex: 1 1 auto;
  }

  input {
    display: inline-block;
    width: 20%;
    color: #960101;
  }
}

.generate_section {
  margin-bottom: 1rem;

  .title {
    font-size: 2rem;
    color: gray;
  }
  .generate_list {
    span {
      color: gray;
    }
  }
  input[type="button"] {
    width: 20%;
  }
}
