$bgColor: #0f0f0f;
$borderColor: #3a3a3a;

.aqi_section {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: none;
  box-sizing: border-box;
  overflow: hidden;
  // background: #1d1d1d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 3px;
}

.aqi_section_header {
  width: 100%;
  margin: 0 auto;
}

.aqi_section_title {
  position: relative;
  letter-spacing: 0.3rem;
  padding: 0.5rem;
  max-width: 95%;
  text-align: center;
  font-size: 2.5rem;
  margin: 0px auto 0rem;
  border: 1px solid #1d1b1b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 0.8rem 0.3rem #101010;

  &-text {
    background: linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'ALK Tall Mtavruli', sans-serif;
  }
}

.aqi_nav_menu {
  display: flex;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  border: 1px solid #212020;

  border-bottom-left-radius: 3px;
  border-radius: 3px;
  justify-content: space-around;
  overflow: hidden;

  &-top,
  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.aqi_nav_item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 0.5rem;
  text-align: center;

  // border-top: 1px solid #6d6d6d;
  // border-right: 1px solid $borderColor;
  // border-bottom: 1px solid $borderColor;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    border-right: none;
  }
  .aqi_nav_item-text {
    display: inline-block;
    font-size: 1.8rem;
    padding: 0.2rem;
    border-radius: 3px;
    font-family: 'Alk Tall Mtavruli';
    text-decoration: none;
    background: linear-gradient(#b19f9c, #383838);
    box-shadow: 0 0rem 0.1rem 0.1rem #101010;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.aqi_city_sign {
  position: absolute;
  display: block;
  border: 1px solid #212020;
  width: 80%;
  height: 70%;
  margin-bottom: 1px;
  margin-right: 3px;
}

.aqi_content {
  position: absolute;
  width: 100%;
  max-height: 83%;
  height: 83%;
  margin-bottom: 2.5rem;
  padding-bottom: 5rem;
  overflow-y: auto;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(109, 51, 51);
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(153, 148, 0), rgb(199, 185, 185));
  }
}

.aqi_data_container {
  margin-top: 30px;
  padding: 5px;
  text-align: center;
}
