@import './headerMenuButton.scss';

.header_section {
  border: 1px solid #333333;
  border-top-color: #252323;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'ALK Tall Mtavruli', sans-serif;
  font-size: 1.5rem;

  .menu_lang {
    overflow: visible !important;
  }

  .nav_menu_item {
    display: flex;
    // background: #272727;
    background: linear-gradient(90deg, black, #0606060a);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #333333;
    margin-left: 0.5rem;
    overflow: hidden;
    flex: 1 1 auto;

    &:first-child {
      padding-left: 10px;
    }

    .nav_item-title,
    .nav_menu-upload {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      background: linear-gradient(#878787, #909090);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 1px solid #101010;
      border-left: none;
      padding: 0.2rem;
      border-radius: 1px;
      flex: 1 1 auto;

      &:first-child {
        border-left-color: #101010;
      }
      // background: #131313;
      &:hover {
        cursor: pointer;
        font-size: 2.5rem;
      }
    }

    .nav_item-type {
      color: gray;
    }
    .nav_menu-upload {
      background: linear-gradient(#a9ffc8, #c7baba);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.5rem;
    }
  }
}

.item_count {
  // position: absolute;
  // text-align: center;
  // left: 100%;
  // top: -0.5rem;
  // transform: translate(-150%, 0);
  font-size: 1.8rem;
  // background: #444444;
  padding: 5px;
  padding-left: 10px;
  color: #ababab;
  border-radius: 2px;
  margin-left: 2px;
  font-family: 'alk-sanet', monospace;
}

.languages_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang_active {
  position: relative;
  border-radius: 3px;
  font-size: 5rem;
  padding: 0.1rem 0.5rem;
  color: #c9c9c9;
}

.languages_list {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  background: #000000;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;

  .languages_list_item {
    background: #171717;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    span {
      padding: 5px;
      display: inline-block;
      color: #a2a2a2;
      background: #040404;
      border-radius: 3px;
      border: 1px solid #403f3f;
      font-size: 2.8rem;
    }
  }
}
